:root {
    --fuchs__border-width: max(2px, 0.18em);
    --fuchs__border-radius: 1em;
    --fuchs__hover-brightness: 95%;
    --fuchs__backdrop-opacity: 0.35;
    --fuchs__max-font-size: 100%;
    --fuchs__min-font-size: 85%;
    --fuchs__primary-font-family: Nunito, sans-serif;
    --fuchs__heading-font-family: Nunito, sans-serif;
    --fuchs__code-font-family: Fira Code, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --fuchs__base-line-height: 1.5;
    --fuchs__small-line-height: 1.2;
    --fuchs__large-line-height: 1.8;
    --fuchs__medium-font-weight: 600;
    --fuchs__bold-font-weight: 700;
    --fuchs__extra-bold-font-weight: 900;
    --fuchs__body-text-align: initial;
    --fuchs__heading-font-style: normal;
    --fuchs__heading-font-weight: bold;
    --fuchs__heading-mb: 0.5em;
    --fuchs__paragraph-mb: 2em;
    --fuchs__link-decoration: none;
    --fuchs__link-decoration__hover: underline 0.125em currentColor;
    --fuchs__link-decoration__focus: none;
    --fuchs__bg-color: #ffffff;
    --fuchs__bg-color-dark: #f1f4f7;
    --fuchs__bg-color-darker: #ced9e3;
    --fuchs__bg-color-darkest: #809cb6;
    --fuchs__txt-color: #2e4051;
    --fuchs__txt-color-light: #77838e;
    --fuchs__txt-color-dark: #1e2a35;
    --fuchs__txt-color-inverted: #ffffff;
    --fuchs__heading-color: currentColor;
    --fuchs__color-blue-primary: #1cb0f6;
    --fuchs__color-blue-light: #77d0fa;
    --fuchs__color-blue-dark: #1896d1;
    --fuchs__color-blue-darker: #0e587b;
    --fuchs__color-green-primary: #58cc02;
    --fuchs__color-green-light: #9be067;
    --fuchs__color-green-dark: #4bad02;
    --fuchs__color-green-darker: #2c6601;
    --fuchs__color-yellow-primary: #ffde00;
    --fuchs__color-yellow-light: #ffeb66;
    --fuchs__color-yellow-dark: #d9bd00;
    --fuchs__color-yellow-darker: #a69000;
    --fuchs__color-orange-primary: #ff9600;
    --fuchs__color-orange-light: #ffc066;
    --fuchs__color-orange-dark: #d98000;
    --fuchs__color-orange-darker: #804b00;
    --fuchs__color-red-primary: #ff4b4b;
    --fuchs__color-red-light: #ff9393;
    --fuchs__color-red-dark: #d94040;
    --fuchs__color-red-darker: #802626;
    --fuchs__color-pink-primary: #ff86d0;
    --fuchs__color-pink-light: #ffb6e3;
    --fuchs__color-pink-dark: #d972b1;
    --fuchs__color-pink-darker: #804368;
    --fuchs__color-purple-primary: #c164ff;
    --fuchs__color-purple-light: #daa2ff;
    --fuchs__color-purple-dark: #a455d9;
    --fuchs__color-purple-darker: #613280;
    --fuchs__color-accent-primary: #1cb0f6;
    --fuchs__color-accent-light: #77d0fa;
    --fuchs__color-accent-dark: #1896d1;
    --fuchs__color-accent-darker: #0e587b;
    --fuchs__color-success-primary: #58cc02;
    --fuchs__color-success-light: #9be067;
    --fuchs__color-success-dark: #4bad02;
    --fuchs__color-success-darker: #2c6601;
    --fuchs__color-info-primary: #1cb0f6;
    --fuchs__color-info-light: #77d0fa;
    --fuchs__color-info-dark: #1896d1;
    --fuchs__color-info-darker: #0e587b;
    --fuchs__color-warning-primary: #ff9600;
    --fuchs__color-warning-light: #ffc066;
    --fuchs__color-warning-dark: #d98000;
    --fuchs__color-warning-darker: #804b00;
    --fuchs__color-danger-primary: #ff4b4b;
    --fuchs__color-danger-light: #ff9393;
    --fuchs__color-danger-dark: #d94040;
    --fuchs__color-danger-darker: #802626;
    --fuchs__color-light-primary: #f1f4f7;
    --fuchs__color-light-light: #ffffff;
    --fuchs__color-light-dark: #ced9e3;
    --fuchs__color-light-darker: #809cb6;
    --fuchs__color-dark-primary: #2e4051;
    --fuchs__color-dark-light: #77838e;
    --fuchs__color-dark-dark: #1e2a35;
    --fuchs__color-dark-darker: #121a20;
    --fuchs__tap-highlight-color: transparent;
    --fuchs__link-color: #1cb0f6;
    --fuchs__link-color__hover: #77d0fa;
    --fuchs__link-color__focus: #1896d1;
}

/*# sourceMappingURL=FuchsBlazorStyles.css.map */
